@import "../../_variable.scss";

.feed__container {
  width: 100%;
  height: fit-content;
  padding: 1.25rem;
  background-color: $bg-color;
  color: $font-white;
  transition: 0.3s;
  border: 1px solid #525252;
  display: grid;
  grid-template-columns: 60px 1fr 70px;
  grid-template-rows: 60px 1fr 20px 50px minmax(0, fit-content);
  grid-template-areas:
    "fc01 fc02 fc03"
    "fc04 fc04 fc04"
    "fc05 fc05 fc05"
    "fc06 fc06 fc06"
    "fc07 fc07 fc07" !important;

  .fc01 {
    grid-area: fc01;

    img {
      background-color: white;
    }
  }
  .fc02 {
    grid-area: fc02;
    padding-top: 0.313rem;

    p {
      color: $font-dark;
    }
  }
  .fc03 {
    grid-area: fc03;
  }
  .fc04 {
    grid-area: fc04;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
  }
  .fc05 {
    grid-area: fc05;
  }
  .fc06 {
    grid-area: fc06;
    padding-top: 1.25rem;
  }

  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
  }

  .name-email {
    margin-left: 1.25rem;
    margin-right: 3.125rem;
    margin-bottom: 0.188rem;
  }

  h3 {
    margin-bottom: 10px;
  }

  //   없는 class
  //   .feed-menu__button {
  //     margin-left: 0.625rem;
  //     transition: 0.3s;

  //     &:hover {
  //       color: $font-white;
  //     }
  //   }

  .feed-icons__wrapper {
    display: flex;
    justify-content: space-between;

    div {
      padding-top: 0.375rem;
    }
  }

  span {
    width: fit-content;
    padding: 0.375rem !important;
    font-size: 17px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;

    .fill-heart {
      color: #ff4444;

      animation: like-animation 1.2s;
    }
  }
  .count {
    padding: 0;
  }

  .heart__button {
    margin-right: 0 !important;
  }
  .lk__div {
    &:hover {
      color: #ff4444;
    }
  }

  .lk__icon {
    width: 30px;
    height: 30px;
    text-align: center;

    &:hover {
      color: #ff4444;
      background-color: #ff44442f;
    }
  }

  .bm__icon {
    width: 30px;
    height: 30px;

    &:hover {
      color: #5252ff;
      background-color: #5252ff2f;
    }
  }
  /* 북마크한(true) 아이콘 */
  .bookmark__icon {
    color: #5252ff;
  }
  .cm__icon {
    width: 30px;
    height: 30px;

    &:hover {
      color: #14ad14;
      background-color: #40c9402f;
    }
  }
  .cm__div {
    &:hover {
      color: #14ad14;
    }
  }
  .rp__div {
    &:hover {
      color: #d000be;
    }
  }
  .rp__icon {
    width: 30px;
    height: 30px;

    &:hover {
      color: #d000be;
      background-color: #d000be2f;
    }
  }
  .sr__icon {
    width: 30px;
    height: 30px;
    &:hover {
      color: #d48e0e;
      background-color: #f0b4432f;
    }
  }

  .writer__buttons {
    text-align: right;
    font-size: 20px;
  }
}

.edit__button {
  margin-right: 10px;
  color: $edit-button-color;
}

.edit__button,
.delete__button {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $edit-button-hover-color;
    transform: rotate(180deg);
  }
}
.delete__button {
  color: $delete-button-color;
  &:hover {
    color: $delete-button-hover-color;
  }
}

.fc07 {
  grid-area: fc07;
  width: 100%;
  height: fit-content;
  padding: 20px;
  background-color: rgb(30, 30, 30);
  color: #dcdcdc;
  transition: 0.3s;

  input {
    width: 100%;
    padding: 5px 10px 5px 40px;
    font-size: 16px;
    border: 1px solid #4f4f4f;
    background-color: $bg-color-opa;
    color: $font-white;
    transition: 0.3s;
    border-radius: 10px;

    &:focus {
      background-color: $font-white;
      color: $font-black;
      box-shadow: 0 0 15px $primary-color;
    }
  }
  .reply__icon {
    font-size: 1.563rem;
    position: absolute;
    color: $primary-dark-color;
    transform: rotate(180deg) translate(-7px, -5px);
    z-index: 1;
  }
  .reply-count {
    padding-left: calc(100% / 15);
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 820px) {
  .feed__container {
    padding: 0.75rem !important;
  }
}

@media screen and (max-width: 414px) {
  .feed__container {
    width: 100vw !important;
    margin: 0 !important;
    margin-right: 0 !important;
  }
  .feed-icons__wrapper {
    justify-content: space-between !important;
    width: 100% !important;
  }

  .fc07 {
    padding: 20px 0 10px 0 !important;
  }
  .reply-count {
    padding-left: 10px !important;
  }
}

/* 삭제 애니메이션 */
.delete__animation {
  background-color: red !important;
  color: white;
  transform: scale(0);
  opacity: 0;
  transition: 1s !important;
}
