@import "../../_variable.scss";

.user__wrapper {
  // 너비 수정 필요
  width: 100%;
  height: fit-content;
  background-color: rgba(30, 30, 30, 0.7);
  backdrop-filter: blur(10px);
  padding: 20px 20px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 90;
}
.avatar-name__wrapper {
  display: flex;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  object-fit: cover;
  margin-right: 20px;
  margin-bottom: 15px;
  position: relative;
  flex-grow: 0;
}
.name-email__wrapper {
  height: fit-content;
  display: inline-block;

  padding-top: 10px;
  flex-grow: 1;
}
.user-email {
  color: var(--logo-dark-color);
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name {
  font-size: 40px;
}

.img-input__button,
.emoji__button,
.vote__button,
.reservation__button {
  color: #e1e1e1;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  margin-left: 10px;

  :hover {
    color: var(--logo-color);
  }
}

@media screen and (max-width: 414px) {
  .user__wrapper {
    width: 100vw !important;
    height: fit-content;
    background-color: rgba(30, 30, 30, 0.7);
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    position: fixed !important;
    top: 0 !important;
    z-index: 20;
  }
  .avatar-name__wrapper {
    margin-bottom: 5px;
  }
  .name-email__wrapper {
    h1 {
      font-size: 22px;
    }

    /* .user-email {
        white-space: nowrap;
        background-color: #ff2929;
      } */

    .name {
      font-size: 35px;
    }
  }
  .feed__form {
    input {
      height: 40px;
      font-size: 20px;
    }
  }
  .upload-feed__icon {
    font-size: 25px;
    transform: translateY(-5px);
  }
  .avatar {
    width: 80px;
    height: 80px;
  }
}
