@import "../../_variable.scss";

.preperation {
  width: 100%;
  text-align: center;
  .prep-text {
    color: $font-white;
    margin-top: 150px;
  }
}

@media screen and (max-width: 414px) {
  .prep-text {
    font-size: 1.5em;
    margin-top: 300px;
  }
}
