@import "../../_variable.scss";

form {
  max-width: 450px;
  width: 85%;
  height: fit-content;
  padding: 30px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .logo__icon {
    color: $primary-color;
    font-size: 50px;
    position: absolute;
    transform: translate(-30px, -140px);
  }

  .logo {
    position: absolute;
    transform: translateY(-100px);
    padding-left: 10px;
    max-width: 100%;
    width: 85%;
  }

  input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    transition: 0.3s;

    &:focus {
      border: 1px solid $primary-color;
    }
  }

  .login__button {
    @include primary-button;
    width: 100%;
  }

  .btn__wrapper {
    margin-top: 40px;
    text-align: center;
  }

  .button__st {
    width: 100%;
    background-color: transparent;
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
  }

  .google {
    color: white;
    border-radius: 10px;
    padding: 5px 10px;

    small {
      &:nth-of-type(1) {
        color: #5189f1;
      }
      &:nth-of-type(2) {
        color: #e0433a;
      }
      &:nth-of-type(3) {
        color: #f5ba29;
      }
      &:nth-of-type(4) {
        color: #5189f1;
      }
      &:nth-of-type(5) {
        color: #49a757;
      }
      &:nth-of-type(6) {
        color: #e0433a;
        margin-right: 10px;
      }
    }
  }
  .google-font {
    font-size: 16px;
  }
}

.last__wrapper {
  margin-top: 20px;
}

.secondary-button {
  @include secondary-button;
  width: 100%;
}

@media screen and (max-width: 414px) {
  .google {
    font-size: 14px !important;
  }
}
