// variable
$primary-color: #a984ed;
$primary-light-color: #d1c4e9;
$primary-dark-color: #9666ee;

$font-white: rgb(240, 240, 240);
$font-light: rgb(200, 200, 200);
$font-dark: rgb(50, 50, 50);
$font-black: rgb(20, 20, 20);

$bg-color: rgb(30, 30, 30);
$bg-color-opa: rgba(100, 100, 100, 0.2);

$button-color: rgb(112, 91, 111);

// mixin
@mixin opaque-background {
  background-color: $bg-color-opa;
  backdrop-filter: blur(5px);
}

@mixin wrapper-style {
  @include opaque-background;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

@mixin primary-button(
  $color: $font-white,
  $hoverFontColor: $font-white,
  $bgColor: $primary-dark-color,
  $hoverBgColor: $primary-color
) {
  font-size: 1.2rem;
  min-width: 45%;
  padding: 0.9rem 2rem;
  background-color: $bgColor;
  color: $color;
  transition: 0.3s;

  &:hover {
    color: $hoverFontColor;
    background-color: $hoverBgColor;
  }
}

@mixin secondary-button {
  @include primary-button($color: $primary-dark-color, $bgColor: $font-white);
  box-shadow: 0 0 0 3px $primary-dark-color inset;
}

@mixin header-bg {
  background-color: rgba(30, 30, 30, 0.7);
  backdrop-filter: blur(10px);
}
