* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NanumSquareRound";
}

body {
  background-color: rgb(30, 30, 30);
}
*::-webkit-scrollbar {
  width: 15px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--logo-dark-color);
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
*::-webkit-scrollbar-track {
  background-color: rgb(30, 30, 30);
  box-shadow: inset 0px 0px 5px rgb(61, 61, 61);
}

:root {
  --logo-color: #a984ed;
  --logo-light-color: #d1c4e9;
  --logo-dark-color: #9666ee;
}

@font-face {
  font-family: "Godo";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2")
      format("woff2"),
    url("//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff")
      format("woff");
}

@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

button {
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}

input:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@keyframes showing {
  from {
    opacity: 0;
    top: 60%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

@keyframes go-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes like-action {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes new-feed-alert {
  from {
    transform: translateY(300px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes close-new-feed-alert {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(300px);
    opacity: 0;
  }
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes like-animation {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper-st {
  width: 100vw;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.up__button {
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--logo-color);
  padding: 7px;
  cursor: pointer;
  position: fixed;
  right: 10%;
  bottom: 8%;
  transition: 0.3s;
}
.up__button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px var(--logo-dark-color);
}
.up__button:active {
  transform: scale(0.9);
}

/* 피드 컨테이너 마운트/언마운트 애니메이션 */
.fc__open-animation {
  animation: go-up 0.5s;
}
.fc__close-animation {
  animation: go-up 0.5s reverse;
}

/* 피드 수정 모달창 마운트/언마운트 애니메이션 */
.fec__open-animation {
  animation: showing 0.5s;
}
.fec__close-animation {
  animation: showing 0.5s reverse forwards;
}

@media screen and (max-width: 414px) {
  .up__button {
    width: 20px;
    height: 20px;
    right: 7%;
    bottom: 12%;
    background-color: rgba(169, 132, 237, 0.5);
    backdrop-filter: blur(10px);
  }
}
